div.notfound{
  color: red;
}
div.content{
  background-color: rgb(122, 46, 221);
  margin: 50px auto;
  text-align: center;
  padding: 100px;

  /* color: rgb(9, 248, 49); */
}
.num-pages{
display: flex;
float: left;
margin: 10px;
padding: 10px;
border: 2px solid black;
border-radius: 26px;
}

body {
font-family: 'Calibri', Tahoma, Geneva, Verdana, sans-serif;
font-size: 16px;
line-height: 1.5;
color: #333;
background-color: blueyellow;
margin: 0;
}

.container {
max-width: 600px;
margin: 50px auto;
padding: 20px;
background-color: #fff;
border-radius: 5px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
font-size: 36px;
margin: 0 0 20px;
color: #333;
text-align: center;
text-transform: uppercase;
}

h2 {
font-size: 20px;
text-align: center;
margin-top: -20px;
}

p {
font-size: 20px;
margin: 0;
color: #e62a2a;
text-align: center;
}

@media screen and (max-width: 768px) {
.container {
  padding: 10px;
  margin: 30px auto;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 18px;
}
}

#header {
background-color: black;;
}

/* navbar */
.navbar {
color: #333;
height: 80px;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: -10px;
padding: 20px 50px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* logo */
.logo {
flex: 1;
}

.logo-text {
margin-top: 25px;
margin-left: 0px;
font-size: 50px;
color: #46E1FF;
}

/* menu */
.menu {
  flex: 2;
  display: flex;
  justify-content: 50px;
  align-items: center;
  font-weight: bold;
  margin-top: -93px;
}

.menu a {
text-decoration: none;
font-size: 18px;
padding: 10px 0;
margin: 0 20px;
position: relative;
color: white;
}

.menu a:before {
content: "";
position: absolute;
width: 100%;
height: 2px;
bottom: 0;
left: 0;
background-color: #333;
visibility: hidden;
transform: scaleX(0);
transition: all 0.3s ease-in-out 0s;
}

.menu a:hover:before {
visibility: visible;
transform: scaleX(1);
}

/* dropdown */
.menu a {
  left: 350px;
}

.dropdown-content {
  display: none;
  position: fixed;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a:hover {
  color: orange;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.dropdown-content a:hover {
color: tomato;
}

/* toggle */
.toggle {
display: none;
}

.toggle span {
width: 30px;
height: 3px;
margin: 5px 0;
}

@media only screen and (max-width: 768px) {
.menu {
display: none;
}
}

/* Search */
#search-box {
margin-left: 450px;
position: relative;
margin-top: 0px;
background-color: grey;
border-radius: 30px;
}
/* step 1 */
#search-box #search-text {
border: none;
outline: none;
padding: 10px 15px;
font-size: 18px;
border-radius: 30px 0 0 30px; /* làm tròn phía trái của ô input */
width: 0; /* set initial width = 0 */
padding: 10px;
transition: all 0.15s ease-in-out;
background-color: grey;

}
/* step 3 */
#search-box:hover #search-text, #search-box #search-text:valid {
/* Check if there is any text or input data on the search bar. 
If there is, the search bar should not close (hover) back */
width: 300px;
padding: 10px 0px 10px 15px;
}
/* step 2 */
#search-box #search-btn {
background-color: grey;
border: none;
padding: 15px;
cursor: pointer;
border-radius: 0 30px 30px 0; /* làm tròn phía phải của nút */
font-size: 18px;
}

#search-btn i {
  color: white;
}

/* Light-Dark switch */
:root {
  --transition-effect: 0.25s cubic-bezier(.25, -0.59, .82, 1.66)
}
body.dark {
  background: white;
  transition: var(--transition-effect);
}
#wrapper {
  margin-top: 8px;
  margin-left: 100px;
}
/* Create and set properties for the first circle */
.switch-toggle {
  width: 90px;
  height: 50px;
  appearance: none; /* Disable default display of checkbox */
  background: #83d8ff;
  border-radius: 26px;
  position: relative; /* parent */
  cursor: pointer;

  box-shadow: inset 0px 0px 16px rgba(255, 255, 255, 1);
  transition: var(--transition-effect);
}
/* Create and set properties for the second circle */
.switch-toggle::before {
  content: "";
  width: 44px;
  height: 44px;
  position: absolute; /* child */
  border-radius: 50%;
  background: #efe2bf;
  box-shadow: inset 0px 0px 6px rgba(255, 255, 255, 1);
  /* set properties for suitable with first circle */
  
  top: 3px;
  left: 3px;

  transition: var(--transition-effect);
}
/* Handle the button click event */
.switch-toggle:checked {
  background: #749dd6;
}
.switch-toggle:checked::before {
  left: 40px;
}

/* Button Log in and Register */
.login-register {
  display: flex;
  margin-left: 100px;
}

.login-btn, .register-btn {
  margin-left: 10px;
  padding: 8px 12px;
  border: 2px solid orangered;
  border-radius: 26px;
  font-size: 16px;
  color: orangered;
  background-color: #333333;
  cursor: pointer;
}

.register-btn {
  margin-left: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 26px;
  font-size: 16px;
  color: #fff;
  background-color: orangered;
  cursor: pointer;
}

.login-btn:hover, .register-btn:hover {
  background-color: none;
}


/* CSS for page Not Found */
.page_404 {
padding: 40px 0;
background: #fff;
font-family: "Arvo", serif;
}

.page_404 img {
width: 100%;
}

.four_zero_four_bg {
background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
height: 400px;
background-position: center;
}

.four_zero_four_bg h1 {
font-size: 80px;
}

.four_zero_four_bg h3 {
font-size: 80px;
}

.link_404 {
color: #fff !important;
padding: 10px 20px;
background: #39ac31;
margin: 20px 0;
display: inline-block;
}
.contant_box_404 {
margin-top: -50px;
}