  .web-programming-and3 {
    position: absolute;
    top: 0;
    left: 45px;
    font-size: var(--font-size-mini);
  }
.vector-icon13 {
  width: 8px;
  height: 12px;
  flex-shrink: 0;
}
.copyright-belongs-to3,
.vector-icon13 {
  position: relative;
}
.location3 {
  position: absolute;
  top: 28px;
  left: 2px;
  width: 381px;
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px;
}
.vector-icon14 {
  position: relative;
  width: 10px;
  height: 11.11px;
  flex-shrink: 0;
}
.time3 {
  position: absolute;
  top: 56px;
  left: 1px;
  width: 317px;
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.icon-security-pass3 {
  position: relative;
  width: 13px;
  height: 13px;
  flex-shrink: 0;
}
.project7 {
  position: absolute;
  top: 85px;
  left: 0;
  width: 98px;
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.project6 {
  position: relative;
  width: 383px;
  height: 101px;
  flex-shrink: 0;
}
.member7 {
  position: absolute;
  top: 0;
  left: 91.75px;
  font-size: var(--font-size-mini);
  display: inline-block;
  width: 63.2px;
}
.group-icon3,
.kiu-thnh-pht3 {
  position: relative;
  flex-shrink: 0;
}
.group-icon3 {
  width: 18.35px;
  height: 18px;
}
.kiu-thnh-pht3 {
  display: inline-block;
  width: 185.53px;
}
.px43 {
  position: absolute;
  top: 28px;
  left: 0;
  width: 210px;
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.trn-ng-ng3 {
  position: relative;
  display: inline-block;
  width: 221.21px;
  flex-shrink: 0;
}
.dk3 {
  position: absolute;
  top: 55px;
  left: 0;
  width: 245.68px;
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.nguyn-tr-thc3 {
  position: relative;
  display: inline-block;
  width: 184.51px;
  flex-shrink: 0;
}
.tt3 {
  position: absolute;
  top: 85px;
  left: 0;
  width: 210px;
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.member6 {
  position: relative;
  width: 245.68px;
  height: 103px;
  flex-shrink: 0;
}
.footer3 {
  position: absolute;
  top: 1619px;
  left: 0;
  background-color: var(--color-lightcoral);
  width: 1260px;
  height: 123px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) 243.64076232910156px var(--padding-2xs) 311px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 76px;
  font-size: var(--font-size-smi);
}
.rec-number-child18 {
  position: relative;
  border-radius: var(--br-81xl);
  background-color: var(--color-skyblue);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.rec-number4 {
  width: 160px;
  height: 24px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.b36,
.b37,
.b38,
.b39,
.b40 {
  position: absolute;
  top: 0;
  left: 136px;
}
.b37,
.b38,
.b39,
.b40 {
  left: 101px;
}
.b38,
.b39,
.b40 {
  left: 68px;
}
.b39,
.b40 {
  left: 34px;
}
.b40 {
  left: 0;
}
.int-number20 {
  position: relative;
  width: 146px;
  height: 18px;
  flex-shrink: 0;
  margin-top: -20px;
}
.number5,
.page-number5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.number5 {
  width: 160px;
  height: 24px;
  flex-shrink: 0;
  align-items: center;
}
.page-number5 {
  position: absolute;
  top: 507px;
  left: 541px;
  border-radius: var(--br-11xl);
  background-color: var(--color-black);
  width: 211px;
  height: 39px;
  padding: 7px 23px;
  box-sizing: border-box;
  align-items: flex-end;
}
.film-new-update3 {
  position: absolute;
  top: 80px;
  left: 83px;
  border-radius: var(--br-mini);
  background-color: var(--color-darkgray-200);
  width: 1107px;
  height: 396px;
}
.cinema-high-view3,
.icon-arrow-down8 {
  position: relative;
  width: 55.31px;
  height: 96.08px;
  flex-shrink: 0;
}
.cinema-high-view3 {
  display: inline-block;
  width: 181.24px;
  height: 18.51px;
  margin-left: -7px;
}
.label-gt-phim3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 228.82px;
  height: 96.08px;
  display: flex;
  flex-direction: row;
  padding: 96.08110046386719px 4.547473508864641e-13px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.img4-1-icon6 {
  position: relative;
  border-radius: var(--br-mini);
  width: 112.85px;
  height: 171.54px;
  flex-shrink: 0;
  object-fit: cover;
}
.rows-14,
.rows-24 {
  position: absolute;
  top: 93px;
  left: 147px;
  width: 979.58px;
  height: 171.54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-84xl);
}
.rows-24 {
  top: 277.06px;
}
.top-film3 {
  position: absolute;
  top: 1069px;
  left: 33px;
  width: 1190px;
  height: 546px;
  font-size: var(--font-size-mini);
}
.high-view-child {
  position: absolute;
  top: 80px;
  left: 35px;
  border-radius: var(--br-31xl);
  background-color: rgba(112, 135, 138, 0.24);
  width: 838px;
  height: 476px;
}
.cinema-high-view4 {
  position: relative;
  display: inline-block;
  width: 240px;
  height: 24px;
  flex-shrink: 0;
  margin-left: -9px;
}
.label-high-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 286px;
  height: 96.08px;
  display: flex;
  flex-direction: row;
  padding: 96.08109283447266px 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.fiml-high-view-1-icon {
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.description-high-view-child,
.fiml-high-view-1-icon,
.img-high-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 234.66px;
  height: 383px;
}
.description-high-view-child {
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
  width: 508px;
}
.detective-conan-movie {
  position: absolute;
  top: 57px;
  left: 50.14px;
}
.detective-conan-the {
  position: absolute;
  top: 12px;
  left: 21.14px;
  font-size: var(--font-size-xl);
  color: var(--color-gold);
}
.button-start-child {
  position: absolute;
  top: 3px;
  left: 14px;
  border-radius: var(--br-3xs);
  background-color: var(--color-orangered);
  width: 112px;
  height: 34px;
}
.start {
  position: absolute;
  top: 12px;
  left: 54px;
  font-weight: 300;
}
.button-start,
.icon-arrow-down10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 39.27px;
}
.button-start {
  top: 83px;
  left: 66.14px;
  width: 126px;
  color: var(--color-white);
}
.button-like-child {
  position: absolute;
  top: 7px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 112px;
  height: 34px;
}
.like1 {
  margin: 0;
}
.div1,
.like {
  position: absolute;
  top: 16px;
  left: 48px;
  font-weight: 300;
  display: inline-block;
  width: 42px;
  height: 22px;
}
.div1 {
  top: 0;
  left: 22px;
  font-size: var(--font-size-16xl);
}
.button-like {
  position: absolute;
  top: 79px;
  left: 230.14px;
  width: 112px;
  height: 41px;
  color: var(--color-black);
}
.description-high-view {
  position: absolute;
  top: 0;
  left: 240.42px;
  width: 508px;
  height: 383px;
}
.quality,
.rating1,
.views-1120369 {
  position: absolute;
  top: 207px;
  left: 1px;
  font-weight: 300;
  display: inline-block;
  width: 99px;
  height: 11px;
}
.quality,
.rating1 {
  top: 5px;
  left: 0;
  width: 42px;
}
.quality {
  top: 39px;
  width: 46px;
}
.action-crime {
  color: var(--color-mediumslateblue-200);
}
.duration-110-minutesepisode,
.genres-action-crime-container {
  position: absolute;
  top: 173px;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 131px;
  height: 11px;
}
.duration-110-minutesepisode {
  top: 140px;
  left: 1px;
  width: 182px;
  height: 10px;
}
.language1 {
  font-weight: 300;
}
.language,
.year-of-production {
  position: absolute;
  top: 72px;
  left: 0;
  display: inline-block;
  width: 64px;
  height: 10px;
}
.year-of-production {
  top: 106px;
  font-weight: 300;
  width: 115px;
}
.rating-child,
.rating-item {
  position: absolute;
  top: 34.35px;
  left: 70.56px;
  border-radius: var(--br-3xs);
  background-color: var(--color-green);
  width: 35px;
  height: 24.96px;
}
.rating-item {
  top: 66px;
  left: 91px;
  background-color: var(--color-tomato);
  width: 57px;
  height: 25px;
}
.hd,
.vietsub {
  position: absolute;
  top: 40.81px;
  left: 81.56px;
  font-size: var(--font-size-3xs);
  display: inline-block;
  width: 15px;
  height: 10.7px;
}
.vietsub {
  top: 72.91px;
  left: 98.56px;
  width: 44px;
}
.rating,
.star-icon1 {
  position: absolute;
  top: 0;
  left: 70.56px;
  width: 126.86px;
  height: 20.29px;
}
.rating {
  top: 129px;
  left: 318px;
  width: 197.42px;
  height: 218px;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.description-high-view-item,
.high-view1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 748.42px;
  height: 383px;
}
.description-high-view-item {
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue-200);
  width: 508px;
}
.button-like1,
.icon-arrow-down11 {
  position: absolute;
  top: 39.27px;
  left: 0;
  width: 39.27px;
  height: 56px;
}
.button-like1 {
  top: 79px;
  left: 230.14px;
  width: 112px;
  height: 41px;
  color: var(--color-darkslateblue-200);
}
.description-high-view-inner,
.high-view2 {
  position: absolute;
  top: 0;
  left: 748px;
  width: 748.42px;
  height: 383px;
}
.description-high-view-inner {
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue-100);
  width: 508px;
}
.button-like2 {
  position: absolute;
  top: 79px;
  left: 230.14px;
  width: 112px;
  height: 41px;
  color: var(--color-darkslateblue-100);
}
.high-view3,
.movie,
.movie-wrapper,
.page-icon {
  position: absolute;
  top: 0;
  left: 1496px;
  width: 748.42px;
  height: 383px;
}
.movie,
.movie-wrapper,
.page-icon {
  left: 0;
  width: 2244.42px;
}
.movie-wrapper,
.page-icon {
  height: 88.66%;
  width: 100%;
  right: 0;
  bottom: 11.34%;
  overflow: hidden;
}
.page-icon {
  height: 6.48%;
  width: 17.91%;
  top: 93.52%;
  right: 32.09%;
  bottom: 0;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
}
.animation-surf {
  position: absolute;
  top: 116px;
  left: 78px;
  width: 748px;
  height: 432px;
  font-size: var(--font-size-smi);
  color: var(--color-lightgray-100);
}
.high-view {
  position: absolute;
  top: 493px;
  left: 33px;
  width: 873px;
  height: 556px;
  color: var(--color-white);
}
.icon-arrow-down13 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.top-update3 {
  position: absolute;
  top: 87px;
  left: 65px;
  display: inline-block;
  width: 125px;
  height: 24px;
}
.frame-div {
  position: absolute;
  top: 0;
  left: 32px;
  width: 245px;
  height: 225px;
}
.best-top-103,
.img-best-top-10-icon3 {
  position: absolute;
  top: 147px;
  left: 0;
  width: 254px;
  height: 833.98px;
}
.best-top-103 {
  top: 89px;
  left: 965px;
  width: 277px;
  height: 980.98px;
  color: var(--color-white);
}
.removebg-preview-1-icon,
.removebg-preview-1-icon1,
.removebg-preview-1-icon2 {
  position: absolute;
  top: 0;
  left: 705.51px;
  width: 90.15px;
  height: 90.15px;
  object-fit: cover;
}
.removebg-preview-1-icon1,
.removebg-preview-1-icon2 {
  left: 559.36px;
}
.removebg-preview-1-icon2 {
  left: 407.05px;
}
.removebg-preview-1-icon3,
.removebg-preview-1-icon4,
.removebg-preview-1-icon5 {
  position: absolute;
  top: 0;
  left: 260.9px;
  width: 90.15px;
  height: 90.15px;
  object-fit: cover;
}
.removebg-preview-1-icon4,
.removebg-preview-1-icon5 {
  left: 129.77px;
}
.removebg-preview-1-icon5 {
  left: 0;
}
.rows-img-2 {
  position: absolute;
  top: 230.85px;
  left: 55.32px;
  width: 795.67px;
  height: 90.15px;
}
.removebg-preview-1-icon6,
.removebg-preview-1-icon7 {
  position: absolute;
  top: 0.68px;
  left: 699.37px;
  width: 90.15px;
  height: 90.15px;
  object-fit: cover;
}
.removebg-preview-1-icon7 {
  left: 560.04px;
}
.removebg-preview-1-icon8,
.removebg-preview-1-icon9 {
  position: absolute;
  top: 0;
  left: 409.1px;
  width: 90.84px;
  height: 90.84px;
  object-fit: cover;
}
.removebg-preview-1-icon9 {
  left: 262.95px;
  width: 90.15px;
  height: 90.15px;
}
.removebg-preview-1-icon10,
.removebg-preview-1-icon11 {
  position: absolute;
  top: 0;
  left: 131.13px;
  width: 90.84px;
  height: 90.84px;
  object-fit: cover;
}
.removebg-preview-1-icon11 {
  left: 0;
  height: 90.15px;
}
.rows-img-1 {
  position: absolute;
  top: 98.47px;
  left: 54.27px;
  width: 789.52px;
  height: 90.84px;
}
.hot-series5 {
  position: relative;
  display: inline-block;
  width: 120.2px;
  height: 33.47px;
  flex-shrink: 0;
  margin-left: -9px;
}
.hot-series4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 166.23px;
  height: 96.08px;
  display: flex;
  flex-direction: row;
  padding: 96.08109283447266px 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
}
.hot-series3 {
  position: absolute;
  top: 138px;
  left: 33px;
  width: 850.99px;
  height: 321px;
  color: var(--color-white);
}
.menu-bar-child1 {
  position: relative;
  background-color: var(--color-slateblue);
  width: 1260px;
  height: 97.39px;
  flex-shrink: 0;
}
.logo-team-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 109.43px;
  height: 105px;
  object-fit: cover;
}
.log-in-1-icon1,
.login-child1 {
  position: relative;
  flex-shrink: 0;
}
.log-in-1-icon1 {
  width: 66.76px;
  height: 63.76px;
  object-fit: cover;
  mix-blend-mode: multiply;
  cursor: pointer;
}
.login-child1 {
  border-radius: var(--br-6xs);
  background-color: var(--color-palegoldenrod);
  width: 90.5px;
  height: 47.1px;
  margin-top: -58px;
}
.label3,
.login4 {
  position: absolute;
}
.login4 {
  top: 25.4px;
  left: 1059.06px;
  width: 90.5px;
  height: 63.76px;
  display: flex;
  flex-direction: column;
  padding: 4.917236328125px 0 11.747356414794922px 0.00018310546875px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
}
.label3 {
  height: 33.33%;
  width: 100%;
  top: 1.19%;
  left: 0;
  line-height: 28px;
  display: none;
}
.name14 {
  position: relative;
  line-height: 28px;
}
.frame13 {
  position: absolute;
  width: 100%;
  top: 28px;
  right: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-mini);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-mini);
}
.ob-formslabel3,
.vector-icon15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 228.58px;
  height: 69.24px;
  overflow: hidden;
}
.vector-icon15 {
  height: 29.9%;
  width: 10.89%;
  top: 48.02%;
  right: 3.36%;
  bottom: 22.08%;
  left: 85.75%;
  max-width: 100%;
  max-height: 100%;
}
.search3 {
  position: absolute;
  top: 0;
  left: 513px;
  width: 228.58px;
  height: 69.24px;
}
.comming-soon3,
.vector-icon16 {
  position: relative;
  flex-shrink: 0;
}
.comming-soon3 {
  display: inline-block;
  width: 132.85px;
  height: 16.7px;
  transform: rotate(-0.04deg);
  transform-origin: 0 0;
}
.vector-icon16 {
  width: 9.12px;
  height: 4.57px;
  margin-left: -22px;
}
.comming-soon-parent1 {
  position: absolute;
  top: 0.88px;
  left: 358.89px;
  width: 132.99px;
  height: 16.8px;
  display: flex;
  flex-direction: row;
  padding: 0.099578857421875px 110.75927734375px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
}
.library3,
.vector-icon17 {
  position: relative;
  flex-shrink: 0;
}
.library3 {
  display: inline-block;
  width: 94.99px;
  height: 7.61px;
  transform: rotate(-0.04deg);
  transform-origin: 0 0;
}
.vector-icon17 {
  width: 9.12px;
  height: 4.57px;
}
.library-parent {
  position: absolute;
  top: 0.88px;
  left: 273.5px;
  width: 95.06px;
  height: 12.78px;
  display: flex;
  flex-direction: column;
  padding: 0.000047206878662109375px 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.seasons3 {
  position: absolute;
  top: 0.07px;
  left: 0;
  display: inline-block;
  width: 94.99px;
  height: 7.61px;
  transform: rotate(-0.04deg);
  transform-origin: 0 0;
}
.vector-icon18 {
  position: absolute;
  height: 37.91%;
  width: 9.55%;
  top: 62.09%;
  right: 21.91%;
  bottom: 0;
  left: 68.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.seasons-parent1,
.vector-icon19 {
  position: absolute;
  top: 0.88px;
  left: 183.55px;
  width: 95.06px;
  height: 13.23px;
}
.vector-icon19 {
  height: 35.57%;
  width: 9.55%;
  top: 64.43%;
  right: 8.66%;
  bottom: 0;
  left: 81.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.top-anime-parent1,
.vector-icon20 {
  position: absolute;
  top: 0;
  left: 78px;
  width: 95.06px;
  height: 14.1px;
}
.vector-icon20 {
  height: 36.62%;
  width: 9.55%;
  top: 63.38%;
  right: 29.11%;
  bottom: 0;
  left: 61.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.genres-parent1,
.title7 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 95.06px;
  height: 13.7px;
}
.title7 {
  top: 41px;
  width: 491.89px;
  height: 17.68px;
  font-size: var(--font-size-smi);
  color: var(--color-white);
}
.menu-bar7 {
  position: absolute;
  top: 6px;
  left: 303.27px;
  width: 741.58px;
  height: 69.24px;
}
.anime6,
.dark-mode-icon3 {
  position: absolute;
  top: 43.65px;
  left: 1179.93px;
  width: 53.96px;
  height: 19.97px;
}
.anime6 {
  top: 21.69px;
  left: 117.57px;
  font-size: var(--font-size-31xl);
  display: inline-block;
  color: var(--color-skyblue);
  width: 237.46px;
  height: 37.02px;
}
.title6 {
  position: relative;
  width: 1233.88px;
  height: 105px;
  flex-shrink: 0;
  margin-left: -1252px;
}
.menu-bar6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1260px;
  height: 105px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--font-size-sm);
}
.home {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1742px;
  overflow: hidden;
  min-width: 1000px;
  max-width: 1260px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}



